:root {
  --clr-text: #3d3d3d;
  --clr-primary: white;
  --clr-secondary: #eeeeee;
  --clr-fondo: #222222;

  --ff-title: "Lora", serif;
  --ff-text: "Crimson Pro", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* CONFIG GENERAL */

html {
  box-sizing: border-box;
  font-family: var(--ff-title);
  color: var(--clr-text);
  font-size: 1.125rem;
  scroll-behavior: smooth;
}
section[id] {
  scroll-margin-top: 60px;
}
body {
  margin: 0;
  text-align: center;
}
img {
  width: 100%;
}

nav {
  position: relative;
}

/* TIPOGRAFIA */
h2,
h3 {
  line-height: 1.2;
}
nav a {
  text-decoration: none;
  color: var(--clr-text);
}
a {
  text-decoration: none;
}

/* NAVEGACION */

nav {
  background-color: var(--clr-primary);
  color: var(--clr-text);
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
nav a {
  color: var(--clr-primary);
  display: block;
  padding: 1.25rem 0rem;
}

nav .desktop a {
  color: var(--clr-text);
}

.logo {
  font-size: 1.7rem;
  cursor: pointer;
}

.logo__h3 {
  color: var(--clr-text);
}

.btn__desplegable {
  cursor: pointer;
}

.a__logo {
  padding: 0;
  /* position: relative;
  display: flex;
  align-items: center;
  justify-content: center; */
}
.a__logo:hover {
  color: var(--clr-text);
  background: var(--clr-secondary);
}
.mobile {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-secondary);
  width: 100%;
  z-index: 2;
  justify-content: space-between;
  /* align-items: baseline; */
  padding: 1em 0;
}

header .mobile {
  transition: all 300ms ease-in-out;
}
.logo {
  min-width: 250px;
}

.barra__submenu {
  display: block;
  background-color: var(--clr-text);
  color: var(--clr-secondary);
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin-right: 20px;
  left: 0;
  top: 75px;
  width: 100%;

  height: calc(100% - 60px);
  overflow: scroll;

  left: 100%;
  transition: left 0.3s;
  z-index: 2;
}

.subMenu__activo {
  overflow: hidden;
}

.barra__submenu__visible {
  left: 0;
}

.barra__submenu a:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-text);
  transition: all 0.5s ease;
}
.desktop {
  display: none;
  width: 100%;
  padding: 0;
}

.desktop__primary {
  display: flex;
}

/* BOTONES */
.barra-desplegable {
  display: flex;
  justify-content: end;
  align-items: baseline;
  height: 100%;
  width: 50%;
  /* border: 2px solid orange; */
}

.boton {
  display: flex;
  margin: 0;
  justify-content: flex-end;
  padding: 0 1em;
  /* border: 2px solid blue; */
}
.btn__desplegable {
  display: flex;
  top: 0.5em;
  right: 0.5em;

  color: var(--clr-text);
  background: none;
  border: none;
  font-size: 1.875rem;
  margin: 0px;
  padding: 0 0.1em;
  text-align: end;
  align-items: baseline;
}

.material-symbols-outlined {
  display: flex;
  font-size: 2.3rem;
  align-items: ;
}

.movil-carrusel a {
  border: 2px solid black;
}
.movil-carrusel a:hover {
  color: black;
  transition: all 0.5s ease;
  background-color: white;
  border: 2px solid black;
}

/* a .btn-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: black;
  color: var(--clr-primary);
  width: 200px;
  height: 50px;
}

a .btn-desktop:hover {
  color: black;
  transition: all 0.5s ease;
  background-color: white;
  border: 2px solid black;
} */

/* ESTILO DE LA PAGINA */

.scroll {
  z-index: 2;
}

.carrusel {
  justify-content: space-between;
  background-attachment: fixed;
  background-color: #837878;
  background-image: url(../css/Imagenes/cabeza.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  color: var(--clr-primary);
  padding: 1rem;
  min-width: 300px;
  height: 300px;
  margin-top: 70px;
}
.movil-carrusel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-bottom: 40px;
}

.movil-carrusel p {
  margin-top: 2em;
  font-size: 1.3rem;
}
.movil-carrusel .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: black;
  color: var(--clr-primary);
  width: 200px;
  height: 50px;
}

/* a {
  text-decoration: none;
} */
.desktop-carrusel {
  display: none;
}

.autor {
  width: 100%;
  padding: 6em 0 0em 0;
  background-color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
}

.autor h1 {
  font-size: 2rem;
  padding: 0.5em;
}

.contenedor_autor_texto {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.autor p {
  padding: 2em 1em;
  text-align: justify;
}
.autor a {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: black;
  color: var(--clr-primary);
  width: 250px;
  height: 60px;
}
.autor a:hover {
  color: black;
  transition: all 0.5s ease;
  background-color: white;
  border: 2px solid black;
}

.faqs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em 0;
  line-height: 1.5em;
  width: 100%;
}

.faqs h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.faqs img {
  width: 150px;
  border-radius: 50%;
  margin: 10px 0;
}

.garantia .a_formasDePago {
  text-decoration: none;
  color: var(--clr-text);
}

.img__centrar {
  width: 100%;
  align-self: center;
}

.obras-destacadas {
  background-color: var(--clr-secondary);
  padding: 3rem 0;
}
.obras-destacadas header {
  justify-content: center;
  background-color: var(--clr-secondary);
}
.obras-destacadas img {
  width: 150px;
}
.obras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem 0;
  gap: 1rem;
}

.obra .hot {
  position: absolute;
  display: flex;
  background-color: red;
  color: var(--clr-primary);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--clr-fondo);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  justify-content: space-between;
  padding: 2em;
}

.footer-nav {
  line-height: 1.7em;
  font-size: 1.2rem;
  color: black;
  padding: 1em;
}
footer a {
  /* color: var(--clr-secondary); */
  color: #a0a0a0;
  position: relative;
  padding: 0 10px;
}

.footer-nav a:after {
  content: "";
  position: absolute;
  background-color: var(--clr-secondary);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}
footer a:hover {
  color: var(--clr-secondary);
}

footer a:hover:after {
  width: 100%;
}

footer .logo {
  font-size: 2.2rem;
}

.derechos h4 {
  font-size: 0.9rem;
}
/* Scroll Stuff */

.scroll-down .header .mobile,
.scroll-down .header_desktop {
  transform: translate3d(0, -100%, 0);
  transition: all 1s ease-in-out;
}

.scroll-up .header .mobile,
.scroll-up .header_desktop {
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
}

/* MEDIA QUERYS */

@media screen and (min-width: 1156px) {
  li {
    color: var(--clr-text);
  }
  .logo {
    min-width: 100px;
  }
  .desktop {
    display: flex;
  }
  .header_desktop {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--clr-secondary);
  }
  .desktop .header_desktop {
    align-items: baseline;
    background-color: var(--clr-secondary);
    transition: all 300ms ease-in-out;
  }
  .desktop .logo {
    width: 18rem;
  }
  .desktop__primary {
    display: flex;
    width: 45rem;
    margin-left: 15rem;
    padding: 0 1em;

    align-items: center;
    justify-content: space-around;
    letter-spacing: 0.5px;
  }
  .desktop__primary a {
    position: relative;
  }
  .desktop__primary a:after {
    content: "";
    position: absolute;
    background-color: var(--clr-secondary);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
  }
  .mobile {
    display: none;
  }
  .movil-carrusel {
    display: none;
  }

  .carrusel {
    display: flex;
    position: relative;
    background-attachment: fixed;
    background-color: #837878;
    background-image: url(../css/Imagenes/cabeza.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: center left;

    color: var(--clr-primary);
    margin-bottom: 5rem;
    padding: 0;
    min-width: 300px;
    width: 100%;
    height: 34.375rem;
  }
  .desktop-carrusel {
    /* margin-top: 3.75rem; */
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    font-size: 1.3rem;
  }
  .fondoAjuste {
    display: flex;
    position: relative;
    top: 0;
    left: 30rem;

    color: black;
    background-color: black;
    width: calc(100% - 30rem);
    height: 100%;
    padding: 2rem;
  }
  .desktop-carrusel-texto {
    /* border: 2px solid red; */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    width: 100%;
    padding: 1rem;
  }
  .desktop-carrusel p {
    position: relative;
    display: flex;
    left: 0;
    width: 100%;

    padding: 1.5em;
    color: red;
    font-size: 1.7rem;
  }
  .btn-desktop {
    /* display: flex; */
    position: relative;

    border: 2px solid white;
    background-color: black;
    width: 25rem;
    padding: 1rem;
    height: 4.375rem;
    color: var(--clr-primary);
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    /* top: 18rem; */
    /* top: 50%;
    left: 45%; */
    color: white;
    /* margin-right: 3rem; */
  }

  .btn-desktop:hover {
    color: black;
    transition: all 0.5s ease;
    background-color: white;
    border: 2px solid black;
  }

  .autor {
    display: flex;
    position: relative;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    /* height: 40rem; */
    margin-bottom: 2rem;
  }

  .autor .contenedor {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    /* padding: 0 2rem 1rem; */
    padding: 1rem;
    overflow: hidden;
    height: 40rem;
  }
  .contenedor .foto {
    display: block;
    position: relative;
    margin: 0;

    top: -6.2rem;
    left: -2rem;
    width: 30rem;
    height: 51.5rem;
    clip-path: inset(10% 9% 12% 0);
  }

  .contenedor_autor_texto {
    display: flex;
    position: relative;
    flex: row;
    /* justify-content: space-around; */
    justify-content: flex-start;
    top: 0;
    margin: 0;
    gap: 3rem;
  }
  .autor p {
    padding: 0;
  }

  .autor .contenedor > * {
    flex-basis: 100%;
  }

  .garantias {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 2rem;
  }
}
