:root {
  --clr-text: #3d3d3d;
  --clr-primary: white;
  --clr-secondary: #eeeeee;

  --ff-title: "Lora", serif;
  --ff-text: "Crimson Pro", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* CONFIG GENERAL */

html {
  box-sizing: border-box;
  font-family: var(--ff-title);
  color: var(--clr-text);
  font-size: 1.125rem;
}

body {
  margin: 0;
  text-align: center;
}
img {
  display: block;
  max-width: 100%;
}

section {
  padding: 3em 1em;
}

/* TIPOGRAFIA */
nav a {
  text-decoration: none;
  color: var(--clr-text);
}

/* NAVEGACION */

header {
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: var(--clr-primary);
  color: var(--clr-text);
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
nav a {
  color: var(--clr-primary);
  display: block;
  padding: 1.25rem 0rem;
}

.logo {
  font-size: 1.7rem;
  cursor: pointer;
  color: var(--clr-text);
}

.btn__desplegable {
  cursor: pointer;
}

.a__logo {
  padding: 0;
}
.a__logo:hover {
  color: var(--clr-text);
  background: var(--clr-primary);
}
.mobile {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em 0;
}

.logo {
  /* border: 2px solid blue; */
  min-width: 250px;
  /* text-align: start; */
  /* margin-left: 0.5em; */
}

.barra-desplegable {
  display: block;
  width: 50%;
}

.barra__submenu {
  display: block;
  background-color: var(--clr-text);
  color: var(--clr-secondary);
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin-right: 20px;
  left: 0;
  top: 60px;
  width: 100%;

  height: calc(100% - 60px);
  overflow: scroll;

  left: 100%;
  transition: left 0.3s;
}

.barra__submenu__visible {
  left: 0;
}

.barra__submenu a:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-text);
}
.desktop {
  display: none;
  width: 100%;
  padding: 0;
}

.desktop__primary {
  display: flex;
}

/* BOTONES */
.boton {
  /* border: 2px solid blue; */
  /* border: 2px solid blue; */
  display: flex;
  margin-right: 0;
  justify-content: flex-end;
  padding: 0 1em;
}
.btn__desplegable {
  /* border: 2px solid red; */
  color: var(--clr-text);
  background: none;
  border: none;
  font-size: 1.875rem;
  /* width: 100%; */
  margin-right: 0px;
  padding: 0 0.1em;
  margin-bottom: 0px;
  text-align: end;
}
/* ESTILO DE LA PAGINA */

header {
  background-color: var(--clr-primary);
}

.carrusel {
  background-attachment: fixed;
  background-color: var(--clr-text);
  background-image: url(../css/Imagenes/cabeza.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  color: var(--clr-primary);
}

/* MEDIA QUERYS */

@media screen and (min-width: 1156px) {
  li {
    color: var(--clr-text);
  }
  .logo {
    min-width: 100px;
  }

  .desktop {
    display: flex;
    height: 75px;
    align-items: baseline;
  }
  .desktop .logo {
    width: 18rem;
  }
  .desktop__primary {
    display: flex;
    width: 45rem;
    margin-left: 15rem;
    padding: 0 1em;

    align-items: center;
    justify-content: space-between;
  }
  .mobile {
    display: none;
  }
}
